// Place all the styles related to the coaching controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #134D73;
  padding: 50px;
}

h1 {
  padding-bottom: 25px;
}

.container {
  background-color: white;
  margin: 0 auto;
  width: 700px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #0C3149;
}

.link {
  margin-top: 50px;
}

a {
  font-size: 20px;
  font-weight: lighter;
}

a:hover {
  text-decoration: none;
}

p {
  font-size: 16px;
  font-weight: lighter;
}
